DATABASE_URL=

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

# https://next-auth.js.org/providers/github
GITHUB_ID=
GITHUB_SECRET=

# ermis sample google login 
GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=

# local sample supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

ERMIS_API=
ERMIS_GATEWAY=
ERMIS_APP_TOKEN=
ERMIS_LOG_LEVEL=

ERMIS_CHAT_API=
ERMIS_CHAT_API_KEY=